/* styles/StudentList.css */

.page-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.student-box {
  padding: 2rem;
  color: white;
  max-width: 800px;
  width: 90%;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.main-button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-button {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.student-title {
  text-align: center;
}

.student-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  color: #fff;
}

.table-pagination {
  margin-top: 1rem; 
  display: flex;
  justify-content: center;
  gap: 1rem;
}
